@tailwind base;
@tailwind components;
@tailwind utilities;

.semi-navigation-item-text,
.semi-icon,
.semi-button {
  color: rgba(255, 255, 255, 0.9);
}

.semi-navigation-item-selected {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

.semi-navigation-item:hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.semi-navigation-item-selected .semi-navigation-item-text {
  color: white !important;
}
